---
layout: index-layout
subject: SYNERGY email Templates
---

<container>
    <row>
        <columns small="12">
            <spacer size="16"></spacer>
            <center><img width="159" height="40" src="./assets/img/logo.png" alt="СИНЕРГИЯ"></center>
            <spacer size="8"></spacer>
            <hr>
            <spacer size="24"></spacer>
            <h2><b>
                    <center>Потому что это выгодно!</center>
                </b></h2>
            <spacer size="32"></spacer>
            <row>
                <columns small="12">
                    <a href="#">

                        <img src="./assets/img/letter_two/Group 1199.png"
                            alt="Если ты уже посмотрел первые уроки, то первый шаг к знаниям и успеху сделан, осталось лишь довести дело до конца. И чтобы облегчить тебе путь, мы подготовили для тебя персональное предложение!">
                    </a>
                </columns>

            </row>

            <row>
                <columns small="12">
                        <img src="./assets/img/letter_two/Group 1230.png"
                            alt="Учись с выгодой, совершай открытия и поступай в вуз мечты вместе с онлайн-школой Синергия!">
                </columns>
            </row>
            <row>
                <columns small="6">
                    <p class="text-left" style="color: #B4B4B4;">
                        <small>
                            Телефон: <a href="tel:+7 (495) 225-49-92">+7 (495) 225-49-92</a>
                        </small>
                    </p>
                </columns>
                <columns small="6">
                    <p class="text-right" style="color: #B4B4B4;">
                       <small>
                           Email: <a href="mailto:school@synergy.ru">school@synergy.ru</a>
                       </small>
                    </p>
                </columns>
            </row>
            <row>
                <columns small="12">
                    <p class="text-left" style="color: #B4B4B4;">
                        <small>
                            Вы получили это письмо, потому что зарегистрировались на портале онлайн-школы Синергия. Если вы не знаете, о чём речь, то нажмите на кнопку <a href="#">отписаться</a>.
                        </small>
                    </p>
                </columns>
            </row>
        </columns>
    </row>
</container>