---
layout: index-layout
subject: SYNERGY email Templates
---

<container>
    <row>
        <columns small="12">
            <spacer size="16"></spacer>
            <center><img width="159" height="40" src="./assets/img/logo.png" alt="СИНЕРГИЯ"></center>
            <spacer size="8"></spacer>
            <hr>
            <spacer size="24"></spacer>
            <h2><b>
                    <center>Промежуточная аттестация быстро и без проблем!</center>
                </b></h2>
            <spacer size="32"></spacer>
            <row>
                <columns small="12">
                        <img src="./assets/img/letter_four/Group 1227.png"
                            alt="Если Вы уже пробовали узнать о том, как Ваш ребёнок может пройти промежуточную аттестацию находясь на семейном или самообразовании, то уже знаете с каким количеством трудностей для этого придётся столкнуться:">
                </columns>

            </row>

            <row>
                <columns small="12">
                    <a href="#">
                        <img src="./assets/img/letter_four/Group 1229.png"
                            alt="Прикрепляясь к нам Вы получите следующие выгоды">
                    </a>
                </columns>
            </row>
            <row>
                <columns small="12">
                        <img src="./assets/img/letter_four/Group 1230.png"
                            alt="Выбирайте онлайн-школу Синергия проходите промежуточные аттестации быстро и с удовольствием.">
                </columns>
            </row>
            <row>
                <columns small="6">
                    <p class="text-left" style="color: #B4B4B4;">
                        <small>
                            Телефон: <a href="tel:+7 (495) 225-49-92">+7 (495) 225-49-92</a>
                        </small>
                    </p>
                </columns>
                <columns small="6">
                    <p class="text-right" style="color: #B4B4B4;">
                       <small>
                           Email: <a href="mailto:school@synergy.ru">school@synergy.ru</a>
                       </small>
                    </p>
                </columns>
            </row>
            <row>
                <columns small="12">
                    <p class="text-left" style="color: #B4B4B4;">
                        <small>
                            Вы получили это письмо, потому что зарегистрировались на портале онлайн-школы Синергия. Если вы не знаете, о чём речь, то нажмите на кнопку <a href="#">отписаться</a>.
                        </small>
                    </p>
                </columns>
            </row>
        </columns>
    </row>
</container>