---
layout: index-layout
subject: SYNERGY email Templates
---

<container>
    <row>
        <columns small="3">
            <center><img width="102" height="52" src="./assets/img/probemail/egerf_logo.png" alt="ЕГЭ.РФ"></center>
        </columns>
        <columns small="3">

        </columns>
        <columns small="3">

        </columns>
        <columns small="3">

        </columns>
    </row>
    <row>
        <columns small="12">
            <hr>
            <spacer size="24"></spacer>


            <row style="background-color: #fff;">
                <img src="./assets/img/probemail/buy1.png" alt="">

                <columns small="12">
                    <spacer size="60"></spacer>

  
                    <row>
                        <columns small="1">
                            <img style="padding-left: 20px;" width="16px" height="16px" src="./assets/img/probemail/predmet.png" alt="">
                        </columns>
                        <columns small="10">
                            Предмет: <a href="#">Математика / 2 вариант</a>

                        </columns>
                    </row>
                    <row>
                        <columns small="1">
                            <img style="padding-left: 20px;" width="16px" height="16px" src="./assets/img/probemail/option.png" alt="">
                        </columns>
                        <columns small="10">
                            Опция: <a href="#">С комментариями эксперта</a>

                        </columns>
                    </row>
                    <row>
                        <columns small="1">
                            <img style="padding-left: 20px;" width="16px" height="16px" src="./assets/img/probemail/summa.png" alt="">
                        </columns>
                        <columns small="10">
                            Сумма: <a href="#">1 000 ₽</a>

                        </columns>
                    </row>
                    <spacer size="30"></spacer>

                </columns>
                <columns small="6">

                </columns>


            </row>
            <row>
                <columns small="12">
                    <img src="./assets/img/probemail/Rectangle_white_bottom.png" alt="">
                </columns>
            </row>

            <row>
                <columns small="12">


                        <img src="./assets/img/probemail/bestregards.png"
                            alt="С наилучшими пожеланиями!">

                </columns>
            </row>

            <row>
                <columns small="12">
                    <p class="text-left" style="color: #B4B4B4;">
                        <small>
                            Остались вопросы, предложения или хотите оставить отзыв?
                            <br>Напишите нам в техническую поддержку: <a href="mailto:support@ege.rf">support@ege.rf</a>
                        </small>
                    </p>
                </columns>
            </row>
        </columns>
    </row>
</container>