---
layout: index-layout
subject: SYNERGY email Templates
---

<container>
    <row>
        <columns small="3">
            <center><img width="102" height="52" src="./assets/img/probemail/egerf_logo.png" alt="ЕГЭ.РФ"></center>
        </columns>
        <columns small="3">

        </columns>
        <columns small="3">

        </columns>
        <columns small="3">

        </columns>
    </row>
    <row>
        <columns small="12">
            <hr>


            <row>

                <columns small="12">
                    <a href="">

                        <img src="./assets/img/probemail/notice.png" alt="Напоминание пароля">
                    </a>

                </columns>

            </row>


            <row>
                <columns small="12">


                        <img src="./assets/img/probemail/bestregards.png"
                            alt="С наилучшими пожеланиями!">

                </columns>
            </row>

            <row>
                <columns small="12">
                    <p class="text-left" style="color: #B4B4B4;">
                        <small>
                            Остались вопросы, предложения или хотите оставить отзыв?
                            <br>Напишите нам в техническую поддержку: <a href="mailto:support@ege.rf">support@ege.rf</a>
                        </small>
                    </p>
                </columns>
            </row>
        </columns>
    </row>
</container>