---
layout: index-layout
subject: SYNERGY email Templates
---

<container>
    <row>
        <columns small="3">
            <center><img width="102" height="52" src="./assets/img/probemail/egerf_logo.png" alt="ЕГЭ.РФ"></center>
        </columns>
        <columns small="3">

        </columns>
        <columns small="3">

        </columns>
        <columns small="3">

        </columns>
    </row>
    <row>
        <columns small="12">
            <hr>
            <spacer size="24"></spacer>

            <row>

                <columns small="12">

                        <img src="./assets/img/probemail/uchenik.png"
                            alt="Мы рады приветствовать Вас в сервисе пробных ЕГЭ/ОГЭ экзаменов ЕГЭ.РФ!">

                </columns>

            </row>

            <row style="background-color: #fff;">
                <img src="./assets/img/probemail/Rectangle_white.png" alt="">

                <columns small="6">
                    <spacer size="24"></spacer>

                    <row>

                        <columns small="12">
                            <h4 style="padding-left: 20px;">Данные для входа в личный кабинет:</h4>

                        </columns>
                    </row>
                    <row>
                        <columns small="1">
                            <img style="padding-left: 20px;" width="16px" height="16px" src="./assets/img/probemail/loginicon.png" alt="">
                        </columns>
                        <columns small="10">
                            Login: <a href="#">username@mail.ru</a>

                        </columns>
                    </row>
                    <row>
                        <columns small="1">
                            <img style="padding-left: 20px;" width="16px" height="16px" src="./assets/img/probemail/passwordicon.png" alt="">
                        </columns>
                        <columns small="10">
                            Password: <a href="#">SJHFn2189DK</a>

                        </columns>
                    </row>
                </columns>
                <columns small="6">
                    <img src="./assets/img/probemail/passicon.png" alt="">
                </columns>


            </row>
            <row>
                <columns small="12">
                    <img src="./assets/img/probemail/attension_pass.png" alt="">
                </columns>
            </row>

            <row>
                <columns small="12">


                        <img src="./assets/img/probemail/bestregards.png"
                            alt="С наилучшими пожеланиями!">

                </columns>
            </row>

            <row>
                <columns small="12">
                    <p class="text-left" style="color: #B4B4B4;">
                        <small>
                            Остались вопросы, предложения или хотите оставить отзыв?
                            <br>Напишите нам в техническую поддержку: <a href="mailto:support@ege.rf">support@ege.rf</a>
                        </small>
                    </p>
                </columns>
            </row>
        </columns>
    </row>
</container>